/*
    ----------------------------------------------------------------------------------
    parts that are identical for all pages
    ----------------------------------------------------------------------------------
*/

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "menco", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    min-height: 100vh;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    background-color: rgb(159, 197, 248);
    border-style: solid;
    border-color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 25px 60px;
}

.homepage{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    font-size: large;
}

.cart{
    position: relative;
    display: flex;
    color: #212529;
    font-size: 30px;
    padding: 5px;
}

.cartAmount{
    position: absolute;
    top: -9px;
    right: -5px;
    font-size: 16px;
    padding: 3px;
    border-radius: 3px;
    background-color: red;
    color: white;
}

.pageTitle{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 0.1em;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(159, 197, 248);
    border-style: solid;
    border-color: black;
    border-top: 1;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 1em;
    font-family: "menco", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/*
    ----------------------------------------------------------------------------------
    index page
    ----------------------------------------------------------------------------------
*/


.pizzariaPicture{
    display: flex;
    justify-content: center
}

.welcomePicture{
    width: 15%;
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.pictures{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0 ;
    position: relative;
    min-height: 20em;
    max-height: 25em;
    min-width: 30em;
    max-width: 40em;
}

.imageIndex{
    position: absolute;
    min-width: 15em;
    min-height: 10em;
    max-width: 15em;
    max-height: 10em;
}

.text{
    position: absolute;
    text-align: center;
    color: white;
    text-decoration: none;
    font-style: bold;
    font-size: 2em;
}


/*
    ----------------------------------------------------------------------------------
    pizza-, salad-, and softdrinks page
    ----------------------------------------------------------------------------------
*/


.shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    gap: 100px;
}

.item{
    border: 0;
    padding: 1em;

}

.image{
    min-width: 20em;
    min-height: 10em;
    max-width: 20em;
    max-height: 10em;
}

.itemInfo{
    display: flex;
    flex-direction: column;
    max-width: 20em;
    min-width: 10em;
    min-height: auto;
    max-height: 10em;
}

.saladInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dressing-price-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector{
    min-width: 5em;
    max-width: 15em;
    min-height: 2em;
    max-height: 2em;
    background-color: white;
    border-style: solid;
    border-color: black;
}

.buttons{
    display: flex;
    gap: 8px;
    font-size: 20px;

}

.bi-dash-lg{
    color: red;
}

.bi-plus-lg{
    color: green;
}


/*
    ----------------------------------------------------------------------------------
    feedback page
    ----------------------------------------------------------------------------------
*/

.mainF{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.columnSelection{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.columnOption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0.9em;
}
.boxwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5em;
    min-height: 5.5em;
}

.box{
    display: flex;
    justify-content: space-between;
    width: 20em;
    padding: 0;
    margin: 1.1em;

}
.radio{
    margin: 0;
    align-items: center;
    text-align: center;
    accent-color: black;
}

#specialBox{
    height: 10em;
    margin-top: 1.5em;
}

.submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

.submitButton{
    box-shadow: 2px 2px;
}

.req {
    color: red;
  }


/*
    ----------------------------------------------------------------------------------
    cart page
    ----------------------------------------------------------------------------------
*/


.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homebutton{
    background-color: rgb(159, 197, 248);
    color: black;
    font-size: large;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.bi-x-lg{
    color:red;
    font-weight: bold;
}

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 630px);
    justify-content: center;
    gap: 15px;
    padding-bottom: 20px;
}

.cart-item{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}

.cartItemImage{
    width: 300px;
    height: 200px;
}

.title-price-x{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.title-price{
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-item-price{
    background-color: rgb(159, 197, 248);
    color: black;
    border-radius: 4px;
    padding: 3px 6px;
}

.checkout{
    background-color: green;
    color: white;
    font-size: large;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.bodyTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.removeAll{
    background-color: red;
    color: white;
    font-size: large;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}